.favoritesInstructions {
  @extend .instructions;
  h4 {
    font-size: 35px;
  }
  p {
    @extend .card;
    height: 175px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 560px) {
  .favoritesInstructions {
    padding-top: 0px;
    h4 {
      font-size: 25px;
    }
    p {
      height: 200px;
    }
  }
}