$primary-font: 'Fjalla One', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$title-font: 'Fredoka One', cursive;




$color-main: #212121;
$color-main-light: #484848;
$color-main-dark: #00000051;
$color-background-main: #0b0b0bf6;

$color-accent: #00e676;
$color-accent-light: #36f385;
$color-accent-dark: #00b248;


