.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-main;
  border-radius: 5px;
  margin: 15px;
  width: 300px;
  background-color: $color-main;

      &:hover {
      animation: grow 0.5s ease 0s 1 normal;
      animation-fill-mode: forwards;
    }

box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);

  .video {
    border: 2px solid $color-background-main;    
  }

  h4 {
    font-family: $primary-font;
    color: $color-accent;
    font-size: 25px;
    padding: 15px 0;
  }
  i {
    padding-right: 5px;
  }

  a {
    font-family: $secondary-font;
    color: $color-accent;
    background-color: $color-background-main;
    height: 30px;
    width: 120px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin: 15px 0;
    border-radius: 20px;

    &:hover {
      background-color: $color-accent;
      color: $color-main;
    }
  }

  button {
    @extend a;
    margin: 0 0 15px 0;
    border: none;
    outline: none;
  }

  .favorites {
    width: 140px;
    margin: 0 0 15px 0;
  }
}

@keyframes splash {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(.89);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  
}


@keyframes grow {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.01)
  }
}