.App {
  background-color: $color-background-main;
  min-height: 850px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 560px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}